{% extends 'collection/base.html' %}
<!--{% load static %}-->
<!DOCTYPE html>
{% block content %}
  <head>
    <title>Bryson's Home Page</title>
    <style>
    body {
      text-align: center;
    }
    </style>
  </head>

  <body>
    <div id="title">
      <h1>My Vinyl Album Website</h1>
    </div>

    <div id="me">
      <p>My name is Bryson Shelton. I like to listen to music.</p>
      <p>I also like to write code. I created this Django website</p>
      <p>to show my collected vinyl albums and learn about Django.</p>
    </div>
  </body>
{% endblock %}
