{% extends 'collection/base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<head>
  <title>Tortoise Albums</title>
  <style>
  body {
    text-align: center;
  }
  </style>
</head>

<body>

  <h4>TNT (1998)</h4>
    <img src="{% static 'collection/tortoise/tnt-1998.jpg' %}"></img>
  <br><br>
  <h4>Standards (2001)</h4>
    <img src="{% static 'collection/tortoise/standards-2001.jpg' %}"></img>
  <br><br>
  <h4>It's All Around You (2004)</h4>
    <img src="{% static 'collection/tortoise/its_all_around_you-2004.jpg' %}"></img>
  <br><br>
  
</body>
{% endblock %}